button {
  padding: 1em;
  border: 0;
  margin: 0 0.5em 0.5em -10px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
}

button.cat-red {
  background: #ff4136;
}

button.cat-red:hover {
  background: #e90d00;
}

button.cat-green {
  background: #2ecc40;
}

button.cat-green:hover {
  background: #208e2c;
}

button.cat-blue {
  background: #0074d9;
}

button.cat-blue:hover {
  background: #004b8d;
}

button.cat-all {
  background: #333;
}

button.cat-all:hover {
  background: #0d0d0d;
}

.f-cat {
  color: #fff;
  padding: 1em;
  margin: 0.25rem 0;
  border-radius: 8px;
}

.cat-red {
  background: #ff4136;
}

.cat-green {
  background: #2ecc40;
}

.cat-blue {
  background: #0074d9;
}

.row .col {
  opacity: 0;
  display: none;
}

.row .col.active {
  opacity: 1;
  display: block;
  animation: fadeIn 0.65s ease forwards;
}

.section {
  padding: 2rem;
  background: #0d0d0d;
  margin: 1rem 0;
  border-radius: 8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
