@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  color: #333;
}

header {
  text-align: center;
}

h4 {
  margin-bottom: 0.5rem;
}

input[type="text"], select {
  padding: 0.25rem 0.5rem;
  border: 2px solid #333;
  border-radius: 4px;
}

hr {
  margin: 1rem 0;
  border: 1px solid rgb(201, 201, 201);
}

.card {
  background-color: white;
  max-width: 580px;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 1em;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  transition: transform 150ms ease-in-out, box-shadow 300ms ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
  min-width: 26px;
  border-radius: 50px;
  border: 2px solid #1d1d1f;
  line-height: 20px;
  padding: 10px 20px;
  color: #1d1d1f;
  background-color: transparent;
  transition: background 0.25s linear, color 0.25s linear;
}

.submit-btn:hover {
  color: #f5f5f7;
  background: #1d1d1f;
}