:root {
  font-family: 'Roboto', sans-serif;
  --turtle-color: #76ab29;
  --rabbit-color: #e64a4a;
}

body {
  min-height: 100vh;
}

.turtle-container, .rabbit-container {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

.pos {
  display: block;
  width: 32px;
  height: 32px;
  outline: 2px solid grey;
  margin: 2px;
  flex: 0 0 auto;
}

.turtle-pos:first-child {
  background-color: var(--turtle-color);
}

.rabbit-pos:first-child {
  background-color: var(--rabbit-color);
}

.stats {
  display: flex;
  text-align: center;
  gap: 50px;
  font-size: 1.5em;
  justify-content: center;
  margin-top: 2em;
}

.turtle-stats,
.rabbit-stats {
  font-weight: 700;
  font-size: 1.3em;
}

.turtle-stats {
  color: var(--turtle-color);
}

.rabbit-stats {
  color: var(--rabbit-color);
}

.centered-text {
  text-align: center;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  min-width: 26px;
  border-radius: 50px;
  border: 2px solid #1d1d1f;
  line-height: 20px;
  padding: 10px 20px;
  color: #1d1d1f;
  background-color: transparent;
  transition: background 0.25s linear, color 0.25s linear;
}

.btn:hover {
  color: #f5f5f7;
  background: #1d1d1f;
}

.ouch {
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 300ms ease-out, transform 400ms ease-out;
}
.ouch-card {
  display: inline-block;
  margin: 1em auto;
  padding: 2rem 3rem;
  background-color: #212121;
  color: white;
  border-radius: 16px;
  font-size: 3em;
}

.winner {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin: 1em auto;
  padding: 2rem 3rem;
  background-color: #212121;
  color: white;
  border-radius: 16px;
  font-size: 3em;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 300ms ease-out, transform 400ms ease-out;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(33, 33, 33, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal {
  opacity: 1;
  transform: translateY(-30px);
}

.hidden {
  display: none;
}