main {
  max-width: 1200px;
  margin: auto;
}

.hero-content {
  position: relative;
}

.subtitle {
  font-size: 24px;
  max-width: 30rem;
  color: var(--text-secondary);
  margin: auto;
}

.hero-img {
  margin: 0 auto;
}

.scroll-down-arrow {
  animation: 2s ease-in-out bouncing-arrow alternate infinite;
  border-radius: 16px;
  border: 3px solid var(--text-primary);
  bottom: 1rem;
  height: 52px;
  position: absolute;
  right: 1rem;
  width: 52px;
}

@keyframes bouncing-arrow {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}

.card {
  border-radius: 24px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}

.card h2 {
  margin-bottom: 1rem;
}

.biography {
  color: var(--text-light);
  background: linear-gradient(-45deg, #c33764, #1d2671);
}

.tools {
  color: var(--text-light);
  background: linear-gradient(75deg, #43c6ac, #191654);
}

.frameworks {
  color: var(--text-light);
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
}

.movies {
  color: var(--text-light);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.muted-color {
  color: #c8c8c8;
}

@media screen and (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .biography {
    grid-column: span 2;
  }

  .tools {
    grid-row: span 2;
  }
}
