.blog-post {
  border-radius: 24px;
  padding: 1.5rem;
}

.blog-post h2 {
  margin-bottom: 0;
  word-break: break-word;
}

.blog-post p {
  word-break: break-word;
}

.post-date {
  color: #7e7e7e;
}

.blog-post:not(.big-bp) {
  border: 4px solid #0f0c29;
}

.expresso-bg {
  color: white;
  background: linear-gradient(to right, #ad5389, #3c1053);
}

.expresso-bg .post-date, .expresso-bg a {
  color: rgb(175, 175, 175);
}

.big-bp {
  color: var(--text-light);
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 300px;
}

.big-bp a {
  color: var(--text-light);
}

.new-blog {
  border-radius: 24px;
  border: 4px solid #0f0c29;
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

input[name='blog-title'],
textarea[name='blog-content'] {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #0f0c29;
}

textarea[name='blog-content'] {
  resize: none;
}

.publish-btn {
  background-color: #0f0c29;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: transform 300ms ease-out;
}

.publish-btn:hover {
  transform: translateX(1rem);
}

@media screen and (min-width: 700px) {
  .blog-showcase {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-posts {
    grid-template-columns: repeat(2, 1fr);
  }

  .big-bp {
    grid-column: span 2;
  }

  .posts-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
