form {
  margin: 0 auto;
  max-width: 480px;
}

label {
  font-weight: 700;
}

form input,
form textarea {
  width: 100%;
  border: 2px solid var(--text-primary);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

button[type='submit'] {
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border: none;
  height: 36px;
  border-radius: 8px;
  transition: transform 300ms ease-out;
}

button[type='submit']:hover {
  transform: scale(1.1);
}
