footer {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}

footer div {
  gap: 12px;
}

.quick-contact {
  flex-basis: 50%;
}

.quick-contact a {
  color: var(--text-light);
  font-weight: bold;
  letter-spacing: 1.1pt;
}

.quick-links ul {
  margin: 0;
  padding: 0;
}

.quick-links ul a {
  color: var(--bg-primary);
  text-decoration: none;
}
