.photo-card {
  border: 1px solid lightgrey;
}

.photo-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}

.photo-card img {
  width: auto;
  max-height: 350px;
}

.action-buttons {
  margin-top: 0.5rem;
}

.action-buttons,
.likes,
.description,
.comments {
  margin-left: 0.5rem;
}

.like-btn {
  cursor: pointer;
  transition: color 150ms ease-out;
}

.like-btn.liked {
  color: red;
}

.like-btn:hover {
  color: red;
}

.new-comment {
  border-top: 1px solid lightgrey;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.new-comment input {
  border: none;
  width: 90%;
  height: 40px;
  padding: 0.25rem 0.5rem;
}

.new-comment input:focus {
  outline: none;
}

.new-comment .send-comment:hover {
  cursor: pointer;
  user-select: none;
}

@media screen and (min-width: 700px) {
  .photos {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
