:root {
  font-family: 'Poppins', sans-serif;

  --bg-primary: #fff;
  --text-light: #fff;
  --text-primary: #1d1d1f;
  --text-secondary: #86868b;
  --dark-grey: #333;

  --purple-50: #2d2060;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggets default styling will be removed */
ul[role='menu'],
ol[role='menu'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* General styles */
.title {
  font-size: 48px;
}

/* utility classes */

.md-18 {
  font-size: 18px;
}

.md-24 {
  font-size: 24px;
}

.md-48 {
  font-size: 48px;
}

/* margin */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-t-1 {
  margin-top: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-x-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* padding */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-t-1 {
  padding-top: 1rem;
}

.p-b-1 {
  padding-bottom: 1rem;
}

.p-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* centering */
.text-center {
  text-align: center;
}

/* display */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
}