.menuicon {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 3;
}

.menuicon[data-active='true'] {
  position: fixed;
}

.menuicon-bread {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 9px;
}

.menuicon-bread-top {
  transition: transform 200ms cubic-bezier(0.04, 0.04, 0.12, 0.96);
  transform: none;
}

.menuicon-bread-bottom {
  transition: transform 200ms cubic-bezier(0.04, 0.04, 0.12, 0.96);
  transform: none;
}

.menuicon-bread-crust {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  border-radius: 0.5px;
  position: absolute;
  left: 7px;
}

.menuicon-bread-crust-top {
  top: 14px;
  transform: translateY(-3px);
  transition: transform 150ms cubic-bezier(0.52, 0.16, 0.52, 0.84) 100ms;
}

.menuicon-bread-crust-bottom {
  bottom: 14px;
  transform: translateY(3px);
  transition: transform 150ms cubic-bezier(0.52, 0.16, 0.52, 0.84) 100ms;
}

.menuicon[data-active='true'] .menuicon-bread-crust-top {
  transform: none;
}

.menuicon[data-active='true'] .menuicon-bread-crust-bottom {
  transform: none;
}

.menuicon[data-active='true'] .menuicon-bread-top {
  transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 100ms;
  transform: rotate(45deg);
}

.menuicon[data-active='true'] .menuicon-bread-bottom {
  transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 100ms;
  transform: rotate(-45deg);
}

nav {
  height: 48px;
  color: var(--text-light);
  background: var(--dark-grey);
}

nav a {
  color: inherit;
  text-decoration: none;
}

.name-logo {
  font-weight: 500;
  font-size: 1.25rem;
}

nav .mobile-nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 18px;
}

.links-list {
  color: var(--text-light);
  background: black;
  inset: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  transform-origin: top;
  transform: translateY(-100%);
  transition: transform 0.7s ease-in-out,
    opacity 0.9s cubic-bezier(1, 0.01, 0, 1.01);
  z-index: 2;
}

.links-list[data-open='true'] {
  opacity: 1;
  transform: none;
}

.links-list .page-links {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

.links-list .page-links > li {
  font-weight: bold;
  font-size: 1.1rem;
}

nav .big-nav {
  display: none;
  height: 48px;
  padding: 0 1rem;
}

@media all and (min-width: 512px) {
  nav .mobile-nav,
  .links-list {
    display: none;
  }

  nav .big-nav {
    display: flex;
  }
}
